/* global */
* {
    margin: 0;
    padding: 0;
}

:root {
    --yellow: #ffc914;
    --grey: #b5c2b7;
    --black: rgb(46, 40, 42);
    --blue: #00a7e1;
    --cream: #eddea4;
    --white: rgb(245, 243, 245);
}

body {
    background: var(--yellow);
}

.section-padding {
    padding: 2rem;
}

.flexbox-parent {
    display: flex;
    width: 95vw;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (max-width: 992px) {
    .flexbox-parent__medium {
        flex-wrap: wrap;
        align-items: center;
    }
}

/* @media screen and (max-width: 768px) {
    .flexbox-parent__medium {
        flex-wrap: wrap;
        align-items: center;
    }
} */

/* global end */

.box1 {
    padding: 15vw;
    background: var(--blue);
    color: var(--yellow);
    font-size: 3rem;
}

.box2 {
    padding: 15vw;
    background: var(--black);
    color: var(--yellow);
    font-size: 3rem;
}

@media screen and (max-width: 768px) {
    .box1 {
        margin-bottom: 2rem;
    }

    .box2 {
        margin-bottom: 2rem;
    }
}
