body {
  background: #2bc0e4; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eaecc6, #2bc0e4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eaecc6, #2bc0e4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container {
  margin: 100px auto;
  width: 360px;
  background: #f7f7f7;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  background: white;
  line-height: 40px;
  color: #666;
  height: 40px;
}
li:nth-child(2n) {
  background: #f7f7f7;
}
h1 {
  background: #2980b9;
  color: white;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
}
.completed {
  color: gray;
  text-decoration: line-through;
}
.toggleInput {
  display: none;
}
input {
  width: 100%;
  border: 3px solid rgba(0, 0, 0, 0);
  padding: 13px 13px 13px 20px;
  font-size: 18px;
  background: #f7f7f7;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #2980b9;
}
input:focus {
  background: #fff;
  border: 3px solid #2980b9;
  outline: none;
}
button {
  background: #2980b9;
  color: white;
  border: none;
  float: right;
  font-size: 1.5rem;
  padding: 0;
  outline: none;
}
span {
  background: #e74c3c;
  color: white;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  width: 0px;
  display: inline-block;
  opacity: 0;
}
li:hover span {
  width: 40px;
  transition: 0.5s;
  opacity: 1;
}
