<%- include("partials/header") %>
<div class="row justify-content-around align-items-center mt-5">
  <div class="col-6">
    <h1 class="text-center">Create New Campground</h1>
    <form class="mt-5" action="/campgrounds" method="post">
      <div class="form-group">
        <input class="form-control" type="text" name="name" placeholder="Name" />
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="image" placeholder="Image URL" />
      </div>
      <div class="form-group">
        <textarea class="form-control" name="description" placeholder="Description Goes Here..."></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block" type="submit">!Submit</button>
      </div>
    </form>
    <a href="/campgrounds">Go Back</a>
  </div>
</div>
<%- include("partials/footer") %>
