<%- include("partials/header") %>
<h1>Create New Campground</h1>
<form action="/campgrounds" method="post">
  <input type="text" name="name" placeholder="Name" />
  <input type="text" name="image" placeholder="Image URL" />
  <button type="submit">!Submit</button>
</form>
<a href="/campgrounds">Go Back</a>
<%- include("partials/footer") %>
