@import url('https://fonts.googleapis.com/css?family=Bigelow+Rules&display=swap&subset=latin-ext');

.App {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
  background: radial-gradient(red, orange, yellow, rgba(0, 0, 0, 0.8), black);
}

.app-header {
  font-family: 'Bigelow Rules', cursive;
  font-size: 8rem;
  font-weight: 900;
  letter-spacing: 5px;
  color: hsl(180, 100%, 50%);
}
