.card-container{
    display: flex;
    flex-direction: column;
    background-color: #95dada;
    border: 1px solid gray;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transition: transform 0.25s ease-out;
    -webkit-transition: transform 0.25s ease-out;
    -moz-transition: transform 0.25s ease-out;
    -ms-transition: transform 0.25s ease-out;
    -o-transition: transform 0.25s ease-out;
}
 .card-container:hover{
     transform: scale(1.05) ;
     -webkit-transform: scale(1.05) ;
     -moz-transform: scale(1.05) ;
     -ms-transform: scale(1.05) ;
     -o-transform: scale(1.05) ;
}
