/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow: #ffc914;
  --grey: #b5c2b7;
  --black: rgb(46, 40, 42);
  --blue: #00a7e1;
  --cream: #eddea4;
  --white: rgb(245, 243, 245);
  --coffee: #593c1f;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--cream);
}

.section-padding {
  padding: 2rem;
}

.flexbox-parent {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

@media screen and (max-width: 992px) {
  .flexbox-parent__medium {
    flex-wrap: wrap;
    align-items: center;
  }
}

/* global end */
/* navbar */
.navbar {
  width: 20vw;
  border-right: 2px solid var(--black);
  position: relative;
}

.nav-header {
  border-bottom: 1px solid var(--black);
  padding: 1rem;
  padding-left: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 0.15rem;
}

.nav-element {
  list-style: none;
  padding: 1rem;
  border-bottom: 1px solid var(--black);
}

.nav-link {
  text-decoration: none;
  padding-left: 1rem;
  color: var(--black);
  letter-spacing: 0.10rem;
}

/* navbar end */
/* content */
.main-doc {
  width: 80vw;
  padding: 1rem;
}

.header {
  font-size: 1.3rem;
  letter-spacing: 0.15rem;
  font-weight: bold;
  padding: 0.5rem 0;
}

.content {
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}

.content-list {
  padding: 1rem 1rem 1rem 4rem;
}

.content-list-li {
  padding: 0.5rem 0;
}

.code {
  padding-left: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: darkgray;
}

@media screen and (max-width: 992px) {
  .navbar {
    width: 100vw;
    border-bottom: 2px solid var(--black);
    border-top: 2px solid var(--black);
  }

  .nav-header {
    border-bottom: 2px solid var(--black);
  }

  .main-doc {
    width: 100vw;
  }
}

/* content end */
