/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow: #ffc914;
  --grey: #b5c2b7;
  --black: rgb(46, 40, 42);
  --blue: #00a7e1;
  --darkBlue: #0f5894;
  --cream: #eddea4;
  --white: rgb(245, 243, 245);
  --coffee: #593c1f;
  --crimson: #b3042c;
}

body {
  font-family: 'Roboto', monospace;
}

.section-padding {
  padding: 2rem;
}

.flexbox-parent {
  width: 85vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 992px) {
  .flexbox-parent__medium {
    align-items: center;
  }
}

/* global end */

/* nav */
.navbar {
  top: 0;
  left: 0;
  width: 100vw;
  background: var(--crimson);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  position: fixed;
  box-shadow: 0px 15px 20px rgb(0, 0, 0, 0.3);
}

.nav-list {
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  color: var(--cream);
  text-transform: capitalize;
  letter-spacing: 0.15rem;
  font-size: 1.5rem;
  transition: all 1s linear;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -ms-transition: all 1s linear;
  -o-transition: all 0.7s linear;
  padding: 1.1rem 1rem;
}

.nav-list:hover .nav-link {
  background: var(--darkBlue);
}

/* nav end */
/* welcome section */
.welcome-section {
  margin-top: 15.0001px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--black);
  color: white;
  text-align: center;
}

.welcome-header {
  text-transform: capitalize;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  line-height: 4rem;
}

.welcome-paragraph {
  color: var(--crimson);
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
}

/* welcome section end */
/* projects */
.projects {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: var(--darkBlue);
}

.project-header {
  text-align: center;
  border-bottom: 2px solid var(--cream);
  padding: 2rem 1rem 1rem 1rem;
  font-size: 2rem;
  color: var(--cream);
  letter-spacing: 0.20rem;
  font-weight: 900;
}

.project-tile {
  width: 20vw;
  height: 40vh;
  background: var(--crimson);
  margin: 1rem;
  padding: 0.5rem;
  padding-bottom: 4rem;
  text-align: center;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}

.tile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hover-show {
  color: var(--darkBlue);
  display: none;
}

.tile-link {
  text-decoration: none;
}

.tile-title {
  text-decoration: none;
  color: var(--cream);
  font-size: 1.5rem;
  padding-top: 1rem;
  text-transform: capitalize;
}

.tile-title:hover .hover-show {
  display: inline;
}

.all-projects-link {
  text-decoration: none;
  margin-bottom: 2rem;
  color: var(--cream);
  padding: 1rem 1rem;
  font-size: 1.5rem;
  background: var(--crimson);
  border-radius: 0.20rem;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 0.20rem;
  -moz-border-radius: 0.20rem;
  -ms-border-radius: 0.20rem;
  -o-border-radius: 0.20rem;
  transition: all 1s linear;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -ms-transition: all 1s linear;
  -o-transition: all 1s linear;
}
.all-projects-link:hover{
  background: var(--black);
  border-color: var(--crimson);
  color: var(--cream);
}
@media screen and (max-width:1400px) {
  .project-tile {
    width: 30vw;
  }
}

@media screen and (max-width:992px) {
  .project-tile {
    width: 90vw;
  }
}

/* projects end */
